
<div id="footer">
  &copy; <%= Time.now.year %>
  |
  <a href="mailto:rachelleecampbell@gmail.com"><%= fa_icon "envelope-o", text:"Contact Me"%></a>
  |
  <a href="https://github.com/rachelleecampbell"><%= fa_icon "github", text:"Source Code"%>
  |
  <a href="https://instagram.com/camplee"><%= fa_icon "instagram"%>
  |
  <a href="#">Back to top</a>
</div>